openapi: 3.0.0
info:
  title: EIP API Test
  description: API endpoints for testing
  version: 1.0.0
servers:
- url: https://modaeiptest.antnex.com.tw/modaeipapi/api/v1
paths:
  /applications:
    get:
      tags:
      - 部內系統
      summary: 查詢所有部內系統
      description: 返回所有部內系統
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 部內系統
      summary: 新增部內系統並同步在 Entra ID 中以 "code" 的內容新增 Extension 欄位
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /applications/{id}:
    get:
      tags:
      - 部內系統
      summary: 查詢指定部內系統
      description: 返回指定部內系統
      parameters:
      - name: id
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 部內系統
      summary: 修改部內系統
      parameters:
      - name: id
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications_id_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /applications/{appid}/extensionProperties:
    get:
      tags:
      - 部內系統的擴充欄位
      summary: 查詢指定部內系統的擴充欄位
      description: 返回所有部內系統的擴充欄位
      parameters:
      - name: appid
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 部內系統的擴充欄位
      summary: 新增部內系統的擴充欄位
      parameters:
      - name: appid
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appid_extensionProperties_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /applications/{appid}/extensionProperties/{id}:
    get:
      tags:
      - 部內系統的擴充欄位
      summary: 查詢指定的部內系統擴充欄位
      description: 返回指定的部內系統擴充欄位
      parameters:
      - name: appid
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      - name: id
        in: path
        description: extensionProperties id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: dc38e636-9a00-45df-b900-3f853e2465e9
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 部內系統的擴充欄位
      summary: 修改部內系統的擴充欄位
      parameters:
      - name: appid
        in: path
        description: applications id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: af85141f-afa0-4556-8302-d0088dc6441c
      - name: id
        in: path
        description: extensionProperties id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: dc38e636-9a00-45df-b900-3f853e2465e9
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/extensionProperties_id_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /users:
    get:
      tags:
      - 使用者
      summary: 查詢所有使用者帳號資訊
      responses:
        "200":
          description: 查詢成功，返回使用者帳號。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 使用者
      summary: 新增使用者帳號並同步在 Entra ID 中以 "userPrincipalName" 的內容建立帳號
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /users/{userPrincipalName}:
    get:
      tags:
      - 使用者
      summary: 查詢指定使用者帳號資訊
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      responses:
        "200":
          description: 查詢成功，返回使用者帳號。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 使用者
      summary: 修改使用者帳號
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_userPrincipalName_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /users/{userPrincipalName}/userApplicationAccess:
    get:
      tags:
      - 使用者帳號對應部內系統存取設定
      summary: 查詢指定帳號的所有部內系統存取設定
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      responses:
        "200":
          description: 查詢成功，返回使用者帳號。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 使用者帳號對應部內系統存取設定
      summary: 修改使用者帳號對應部內系統存取設定
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPrincipalName_userApplicationAccess_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 使用者帳號對應部內系統存取設定
      summary: 新增使用者帳號對應部內系統存取設定
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPrincipalName_userApplicationAccess_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 使用者帳號對應部內系統存取設定
      summary: 核准使用者帳號對應部內系統存取設定並寫入Entra ID Extension欄位
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPrincipalName_userApplicationAccess_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /users/{userPrincipalName}/userApplicationAccess/{id}:
    get:
      tags:
      - 使用者帳號對應部內系統存取設定
      summary: 查詢指定帳號的單一部內系統存取設定
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      - name: id
        in: path
        description: userApplicationAccess id
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: d62c9ed4-b1cc-4a4f-abb4-343ff014a10a
      responses:
        "200":
          description: 查詢成功，返回使用者帳號。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /users/{userPrincipalName}/login:
    post:
      tags:
      - 使用者
      summary: 登入
      description: 登入
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPrincipalName_login_body'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /middleware/department:
    get:
      tags:
      - MiddleWare
      summary: 部門清單
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/department/{parameter}:
    get:
      tags:
      - MiddleWare
      summary: 指定部門內的職員清單
      parameters:
      - name: parameter
        in: path
        description: 部門代碼
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: A01
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/formtype:
    put:
      tags:
      - MiddleWare
      summary: 單別設定檔 - 修改
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/middleware_formtype_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - MiddleWare
      summary: 單別設定檔 - 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/middleware_formtype_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /middleware/formtype/{ordertype}:
    get:
      tags:
      - MiddleWare
      summary: 單別設定檔 - 查詢指定單據的單別清單
      parameters:
      - name: ordertype
        in: path
        description: 單據類別
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: leave-request
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/employeetype:
    get:
      tags:
      - MiddleWare
      summary: 員工類別清單
      description: 用於 個人加班資料查詢
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/jobtitle:
    get:
      tags:
      - MiddleWare
      summary: 職稱清單
      description: 用於 個人加班資料查詢
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/users/{userPrincipalName}/agent:
    get:
      tags:
      - MiddleWare
      summary: 查詢職員代理人清單
      description: 查詢指定職員（以職員代碼識別）的所有代理人清單。
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - MiddleWare
      summary: 設定職員代理人清單
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPrincipalName_agent_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /middleware/users/{userPrincipalName}/attendance:
    get:
      tags:
      - MiddleWare
      summary: 差勤打卡資料查詢
      description: 用於 加班單(加班區間)、加班費印領清冊(出勤資料)、出勤異常申覆單(差假查詢)
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      - name: startDate
        in: header
        description: 起始日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: endDate
        in: header
        description: 結束日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: needLeaveRequestData
        in: header
        description: 是否需要差假紀錄
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/users/{userPrincipalName}/availableleavehours:
    get:
      tags:
      - MiddleWare
      summary: 查詢職員請假可用天數
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/users/{userPrincipalName}/usedleavehours:
    get:
      tags:
      - MiddleWare
      summary: 個人差假統計查詢
      description: 用於 請假單
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      - name: startDate
        in: header
        description: 起始日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: endDate
        in: header
        description: 結束日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/users/{userPrincipalName}/compensatorymins:
    get:
      tags:
      - MiddleWare
      summary: 本次使用補修時數
      description: 用於 請假單
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/users/{userPrincipalName}/overtimehoursinfo:
    get:
      tags:
      - MiddleWare
      summary: 查詢職員、指定年月的已申請加班時數、簽核中加班時數、剩餘可申請加班時數
      description: 用於 加班單
      parameters:
      - name: userPrincipalName
        in: path
        description: 帳號
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: admin@moda.gov.tw
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          example: 113
      - name: month
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          example: 11
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /middleware/good:
    get:
      tags:
      - MiddleWare
      summary: 查詢庫房物品數量
      description: 用於 領物申請
      parameters:
      - name: storeCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: store0001
      - name: largeCategory
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: root
      - name: smallCategory
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: root
      - name: keyword
        in: query
        description: 關鍵字
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ""
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /basic/function:
    get:
      tags:
      - 功能權限
      summary: 取得全部功能主檔清單
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 功能權限
      summary: 修改
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/basic_function_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 功能權限
      summary: 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/basic_function_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /basic/function/{id}:
    get:
      tags:
      - 功能權限
      summary: 查詢指定的功能主檔資料
      parameters:
      - name: id
        in: path
        description: 資料ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /basic/role:
    get:
      tags:
      - 功能權限
      summary: 取得全部角色主檔
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 功能權限
      summary: 角色主檔-修改
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/basic_role_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 功能權限
      summary: 角色主檔-新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/basic_role_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /basic/rolefunction:
    put:
      tags:
      - 功能權限
      summary: 角色功能權限-修改
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/basic_rolefunction_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /basic/rolefunction/{roleid}:
    get:
      tags:
      - 功能權限
      summary: 取得指定角色的權限資料
      parameters:
      - name: roleid
        in: path
        description: 角色主檔ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/leave-request:
    put:
      tags:
      - 差旅差勤模組-請假單
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_leaverequest_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-請假單
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_leaverequest_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-請假單
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_leaverequest_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/leave-request/{id}:
    get:
      tags:
      - 差旅差勤模組-請假單
      summary: 取得請假單，指定單據的資料
      parameters:
      - name: id
        in: path
        description: 請假單ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/business-trip:
    put:
      tags:
      - 差旅差勤模組-公出單
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_businesstrip_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-公出單
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_businesstrip_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-公出單
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_businesstrip_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/business-trip/{id}:
    get:
      tags:
      - 差旅差勤模組-公出單
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/overtime-request:
    put:
      tags:
      - 差旅差勤模組-加班單
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_overtimerequest_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-加班單
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_overtimerequest_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-加班單
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_overtimerequest_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/overtime-request/{id}:
    get:
      tags:
      - 差旅差勤模組-加班單
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/overtime-request/project-approval-number:
    get:
      tags:
      - 差旅差勤模組-加班單
      summary: 選擇專案核准(文)號
      parameters:
      - name: startDate
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: 起始日期
          format: date
      - name: endDate
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: 結束日期
          format: date
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/overtime-payment:
    get:
      tags:
      - 差旅差勤模組-加班費印領清冊
      summary: 加班費印領清冊
      description: "查詢結果的 [加班日期、班別性質、申請加班時間、加班事由] 對應加班單資訊，[實際加班時間]對應打卡資料"
      parameters:
      - name: userCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: 職員代碼
          example: modauser001
      - name: status
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 申請狀態
          format: int32
          example: 1
      - name: type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 加班性質
          format: int32
          example: 1
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 加班年
          format: int32
          example: 113
      - name: month
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 加班月
          format: int32
          example: 11
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/travel-expense-report:
    get:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 查詢
      parameters:
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 年度
          example: 113
      - name: userCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: 申請人代碼
          example: modauser001
      - name: status
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 申請狀態
          example: 1
      - name: budgeAaccount
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 預算科目
          example: 1
      - name: type
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 差旅費類別
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    put:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 修改
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_travelexpensereport_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_travelexpensereport_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 列印並存檔
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_travelexpensereport_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/travel-expense-report/noapply:
    patch:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 註記不申請
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/travelexpensereport_noapply_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/travel-expense-report/delete:
    patch:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 已申請資料刪除
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/travelexpensereport_delete_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/travel-expense-report/unapply:
    patch:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 不申請資料取消註記
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/travelexpensereport_unapply_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/travel-expense-report/{id}:
    get:
      tags:
      - 差旅差勤模組-出差旅費報告表
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/exception-appeal:
    put:
      tags:
      - 差旅差勤模組-出勤異常申覆單
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_exceptionappeal_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-出勤異常申覆單
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_exceptionappeal_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-出勤異常申覆單
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_exceptionappeal_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/exception-appeal/{id}:
    get:
      tags:
      - 差旅差勤模組-出勤異常申覆單
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/china-travel-grade-level-below-ten:
    put:
      tags:
      - 差旅差勤模組-十職等以下赴大陸地區申請表
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelbelowten_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-十職等以下赴大陸地區申請表
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelbelowten_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-十職等以下赴大陸地區申請表
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelbelowten_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/china-travel-grade-level-below-ten/{id}:
    get:
      tags:
      - 差旅差勤模組-十職等以下赴大陸地區申請表
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/china-travel-grade-level-above-eleven:
    put:
      tags:
      - 差旅差勤模組-十一職等以上及涉密人員赴大陸地區申請表
      summary: 修改暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelaboveeleven_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    post:
      tags:
      - 差旅差勤模組-十一職等以上及涉密人員赴大陸地區申請表
      summary: 新增暫存單據
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelaboveeleven_body_1'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
    patch:
      tags:
      - 差旅差勤模組-十一職等以上及涉密人員赴大陸地區申請表
      summary: 送出
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinatravelgradelevelaboveeleven_body_2'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/china-travel-grade-level-above-eleven/{id}:
    get:
      tags:
      - 差旅差勤模組-十一職等以上及涉密人員赴大陸地區申請表
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/china-return-feedback:
    get:
      tags:
      - 差旅差勤模組-赴陸人員返臺通報表
      summary: 查詢
      parameters:
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          example: 113
      - name: userCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: modauser001
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 差旅差勤模組-赴陸人員返臺通報表
      summary: 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_chinareturnfeedback_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/china-return-feedback/{id}:
    get:
      tags:
      - 差旅差勤模組-赴陸人員返臺通報表
      summary: 檢視
      parameters:
      - name: id
        in: path
        description: 單據ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/unpaid-overtime:
    get:
      tags:
      - 差旅差勤模組-未休假加班費申請表
      summary: 查詢
      parameters:
      - name: userCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: modauser001
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 113
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_49'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 差旅差勤模組-未休假加班費申請表
      summary: 儲存
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_unpaidovertime_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /attendance/personal-overtime:
    get:
      tags:
      - 差旅差勤模組-個人加班資料查詢
      parameters:
      - name: startDate
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: 113/11/01
      - name: endDate
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: 113/11/30
      - name: deptStatus
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 單位狀態
          example: 1
      - name: userStatus
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 員工狀態
          example: 1
      - name: claimMethod
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 請領方式
          example: 1
      - name: employeeType
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: "a01,a02,a03"
      - name: jobTitle
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          example: "a01,a02,a03"
      - name: deptCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: dept001
      - name: userCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: moda001
      - name: includeDetail
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 查詢結果包含下層單位
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_50'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /attendance/overtime-pay-approval:
    get:
      tags:
      - 差旅差勤模組-加班費線上審核申請表
      summary: 查詢
      description: 實際加班時間、出勤資料需從middleWare取得
      parameters:
      - name: year
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 加班年份
          format: int32
          example: 113
      - name: month
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 加班月份
          format: int32
          example: 11
      - name: status
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          description: 申請狀態
          format: int32
          example: 1
      - name: deptCode
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: 單位代碼
          example: dept001
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_51'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
    post:
      tags:
      - 差旅差勤模組-加班費線上審核申請表
      summary: 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attendance_overtimepayapproval_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /general-affairs/supply-request:
    post:
      tags:
      - 小額+零用金-領物申請
      summary: 新增
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generalaffairs_supplyrequest_body'
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
  /general-affairs/supply-request/{id}:
    get:
      tags:
      - 小額+零用金-領物申請
      summary: 取得領物申請，指定單據的資料
      parameters:
      - name: id
        in: path
        description: 請假單ID
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_52'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "408":
          description: Request Timeout
        "500":
          description: Internal Server Error
        "502":
          description: Bad Gateway
        "503":
          description: Service Unavailable
        "504":
          description: Gateway Timeout
      security:
      - BearerAuth: []
  /general-affairs/small-procurement-search:
    get:
      tags:
      - 小額+零用金-小額採購表單一覽表
      parameters:
      - name: startDate
        in: header
        description: 申請開始日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: endDate
        in: header
        description: 申請結束日期
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: date
      - name: isAgent
        in: header
        description: 代理申請，是/否/不確定
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          example: 9
[...]
